/* Reset */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;padding: 0;border: 0;outline: 0;
    font-size: 100%; vertical-align: baseline;
    background: transparent;}
body { line-height: 1; }
ul {list-style: none;}

/* ============================== styling ======================================= */
*{
	text-align: center;
	}

a{
	/*text-decoration: none;*/	
	}

h1              { text-align: center }
h2              { text-align: left;margin-left: auto }
h3              { text-align: left;margin-left: auto }

#countdown{
	text-align: center;	
	}	
	
table{
	margin-left: auto;
	margin-right: auto;	
	}

#forumanchor{
	text-decoration: none;	
	}	
	
a:visited{
    color: black;	
	}

#logo{
	display: none;
	position: absolute;
	left: 0px;
	top: 0;	
	}

#maintext > div{
	display: none;	
	}
	
#maintext > div:first-child{
	display: block;	
	}
 
#flags{
	display: block;	
	}

#flags > li{
	display: inline;
	cursor: pointer;
	} 
 
#wrap > li{
    background-color: #000033; 
    color: white; 
    font-size: 160%;
    cursor: pointer;
	}

#credit{
	color: white;	
	}

#topheader{
	padding-top: 60px;
	}

h1{
	font-size: 200%;
	}

#mainheader{	
	font-family: ‘Lucida Console’, Monaco;
	}

#header{
	width: 100%;
	height: 200px;
	color: black;
	}

#wrap{
	margin-top: 20px;
	margin-bottom: 20px;	
	}

#topheader{
	font-size: 500%;
	color: white;
	}

body{
	margin: 0;
	padding: 0;
	background-image:url('bacteriacell.jpg');}
p{
	padding: 10px;
	margin: 10px;
	font-size: 140%;
	text-align: justify;	
	}	
	
	
.home > p:first-child{
	text-align: center;
	}	
	
#main{
	margin: 80px;
	margin-top: 0;
	background-color: white;
	padding: 50px;
	border-top-left-radius: 7px; 
	border-bottom-left-radius: 7px; 
	border-top-right-radius: 7px; 
	border-bottom-right-radius: 7px;
	background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 37%, rgba(215,222,227,1) 69%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(37%,rgba(229,235,238,1)), color-stop(69%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 37%,rgba(215,222,227,1) 69%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 37%,rgba(215,222,227,1) 69%,rgba(245,247,249,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 37%,rgba(215,222,227,1) 69%,rgba(245,247,249,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 37%,rgba(215,222,227,1) 69%,rgba(245,247,249,1) 100%); /* W3C */
	}
	
#wrap > li{  
   padding: 10px 30px;
   margin: -3px;
   overflow: hidden;	
   display: inline;
	}
    
#wrap > li:first-child{
	border-top-left-radius: 7px; 
	border-bottom-left-radius: 7px; 	
	} 	
	
#wrap > li:last-child{
	border-top-right-radius: 7px; 
	border-bottom-right-radius: 7px; 
	} 


